body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Inter",sans-serif;
    
}

h1, h3, p, button, input {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 28px;
    padding-bottom: 10px;
}

h3 {
    color: #5A537B;
    margin-bottom: 8px;
}


p {
    min-height: 16px;
    color: #353535;
}

#input-container{
    background-color: #6943FF;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 36px;
}

#input {
    align-items: center;
    border:1px solid #B295FF;
    border-radius: 5px;
    background-color: #6943FF;
    color: white;
    font-size: 60px;
    width: 120px;
    height: 80px;
    text-align: center;
    font-weight: 800;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#convert-btn {
    width: 120px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: #3D3D3D;
    font-weight: 600;
    font-size: 1.25rem;
}

#results-container {
    padding: 36px 0 12px;
    background-color: #f4f4f4;
}

.result {
    padding: 36px 36px 36px;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 24px 24px;
    gap: 4px;
}


